!!! 5
%head
 %title TN Blog
 = csrf_meta_tags 
 = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' 
 = javascript_include_tag 'application', 'data-turbolinks-track': 'reload' 
%body
 %nav.navbar.navbar-default
  .container
   .navbar-brand= link_to "Tuấn Nguyễn Blog", root_path
   %ul.nav.navbar-nav.navbar-right
    %li= link_to "New Post", new_post_path
  - if notice
   = notice
  - if alert
   = alert
  .container
   = yield